<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>WELCOME TO SECURITY PROJECT</h1>
    <span sec:authorize = "isAuthenticated()">YOU ARE ONLINE</span>
    <a th:href="@{'/enter'}">SIGN IN</a>
    <a th:href="@{'/register'}">SIGN UP</a>

    <div style="min-height: 800px;" th:if="${oneCourse != null}">
        <input type="hidden" id="courseId" th:value="${oneCourse.id}">
        <h3 th:text="${oneCourse.name}"></h3>
        <p th:text="${oneCourse.description}"></p>
        <p th:text="${oneCourse.price}"></p>
        <p th:text="${oneCourse.rating}"></p>
        <p th:text="${oneCourse.author.fullName}"></p>
        <p th:text="${oneCourse.category.name}"></p>
    </div>
</body>
</html>